body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-left: 125px;
  background: url(http://www.walldevil.com/wallpapers/a38/wallpapers-background-high-backgrounds-resolution-blue-gaming-black-multi-color-shining-waves.jpg);
  background-size: cover;
}

.Avatar img {
  margin-top: 50px;
  border-radius: 10px;
  max-height: 275px;
  max-width: 275px;
  border: 3px solid rgb(222, 32, 252);
}

.App {
  color: white;
  font-size: 20px;
}

.Sidebar {
    width: 225px;
    text-align: center;
}

.Name {
  font-size: 35px;
  color: white;
}

.Bio {
  font-size: 16px;
  color: white;
  border-bottom: 2px solid rgb(222, 32, 252);
  padding-bottom: 20px;
  padding-left: 10px;
  width: 215px;
}

.Info {
  font-family: 'baskerville old face';
  font-size: 18px;
  color: white;
  width: 225px;
  line-height: 30px;
  border: 2px;
  background-color: rgb(128, 68, 161);
  opacity: .75;

}

.Followers {
  font-family: 'baskerville old face';
  background-color: white;
  opacity: .75;
  width: 185px;
  text-align: center;
  padding-left: -10px;
}

.Following {
  font-family: 'baskerville old face';
  background-color: white;
  opacity: .75;
  width: 185px;
  text-align: center;
}

.Repositories {
  text-align: center;
  font-family: 'baskerville old face';
  text-align: center;
  padding-right: 75px;
  margin-top: -600px;
  margin-left: 400px;
  line-height: 50px;
  background-color: white;
  opacity: .75;
  width: 500px;
  font-size: 25px;
  border: 3px solid rgb(222, 32, 252);
  border-radius: 20px;
}
